<%- include('./partials/header') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row align-items-center mt-3">
                <div class="col-12 col-md-6">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </div>
                <div class="col-12 col-md-6 text-left text-md-right">
                    <button class="btn btn-success" id="add-new-phone" onclick="location.href='/admin/phones/add'">
                        Добави нов телефон
                    </button>
                </div>
            </div>
          
        </div>
        <div class="col-12 table-responsive">
            <table class="table table-striped mt-4">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Марка</th>
                    <th scope="col">Модел</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Действие</th>
                  </tr>
                </thead>
                <tbody>
                  <% phones.forEach(phone => { %>
                    <tr>
                      <th scope="row"><%= phone.id %></th>
                      <td><%= phone["Brand.name"] %></td>
                      <td><%= phone.model %></td>
                      <td><%= phone.price %></td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                          <button type="button" class="btn btn-primary" onclick="location.href='/admin/phones/edit/<%= phone.id %>'">Редактирай</button>
                          <button type="button" class="delete-phone btn btn-danger">Изтрий</button>
                        </div>
                      </td>
                    </tr>
                  <% }) %>
           
                </tbody>
              </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="page-loaders">
                <a href="#" class="page-loader">1</a>
                <a href="#" class="page-loader active">2</a>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>

