<%-include('./partials/header') %>

<body>
    <%- include('./partials/filter') %>
    <main>
        <div class="container">
            <div class="row">
                <% phones.forEach(phone => { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                        <div class="phone-box text-center">
                            <a href="/phone/<%= phone.id %>">
                                <img src="<%= phone.image %>" alt="phone image" class="img-fluid">
                                <div class="text-dark mb-3">
                                    <%= phone.model %>
                                </div>
                                <div class="text-danger font-weight-bold">
                                    <span>
                                        <%= phone.price %>
                                    </span>
                                     лв.
                                </div>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>


        <div id="page-redirect">
            <a href="#"></a>
        </div>

    </main>
    
</body>

<script>
    const pageCount = "<%= pageCount %>" || 1;
    const page = "<%= page %>" || 1; 
    
</script>

<%-include('./partials/footer') %>