<%-include('./partials/header') %>

<body>
    <main>
        <div class="container mb-5">
            <div class="row">

                <div class="col-12 col-md-6">

                    <div class="phone-left-side">
                        <img src="<%= phone.image %>" alt="phone img" class="w-100">
                    </div>

                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-between mt-3 mt-md-0">
                    <div class="row">
                        <% images.forEach(image => { %>
                            <div class="col-3 mb-2 side-gallery">
                                <img src="<%= image.name %>" alt="phone img" class="w-100">
                            </div>
                        <% }) %>

                    </div>
                    <div class="row">
                        <div class="col-12 text-center mt-3 mt-md-0">
                            <button class="btn btn-success" id="add-to-cart" onclick="location.href='/add-to-cart/<%= phone.id %>'">
                                Добави в количката
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <h2>
                        <%= phone.model %>
                    </h2>
                    <div class="d-flex justify-content-end align-items-center">
                        <% if(phone.availability){ %>
                            <span class="bg-primary rounded px-2 py-1 text-white font-weight-bold">
                                В наличност
                            </span>
                        <% } else { %>
                            <span class="bg-danger rounded px-2 py-1 text-white font-weight-bold">
                                Няма в наличност
                            </span>
                        <% } %>
                       
                        
                        <span class="ml-3 text-danger font-weight-bold text-right" style="font-size: 24px;">
                            <%= phone.price %> лв.
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="bar bg-dark text-white py-2 text-center">
                        <h2>
                            Спецификации
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped table-dark table-hover">

                                <tbody>
                                    <tr>
                                        <th scope="row">Марка</th>
                                        <td><%= phone["Brand.name"] %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Цена</th>
                                        <td><%= phone.price %> лв.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SIM слотове</th>
                                        <td><%= phone.sim_slots %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Брой ядра</th>
                                        <td><%= phone.number_of_cores %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Модел процесор</th>
                                        <td><%= phone.cpu %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Цвят</th>
                                        <td><%= phone.color %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Размери екран (inch)</th>
                                        <td><%= phone.screen_size %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Вътрешна памет (GB)</th>
                                        <td><%= phone.internal_memory %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RAM памет (GB)</th>
                                        <td><%= phone.ram %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Брой камери</th>
                                        <td><%= phone.numbers_of_camera %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Резолюция на основна камера (MP)</th>
                                        <td><%= phone.main_camera_resolution %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Капацитет батерия (mAh)</th>
                                        <td><%= phone.battery %></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>


<%-include('./partials/footer') %>